###############################################################################
# Ignore these directories
###############################################################################

.git/
node_modules/

