###############################################################################
# Ignore these directories
###############################################################################

.git/
build/
node_modules/

