###############################################################################
# Ignore these files
###############################################################################

*.log
*.pid
*.seed
*~
.*


###############################################################################
# Accept these files
###############################################################################

!.babelrc
!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc
!.gitignore
!.nvmrc


###############################################################################
# Ignore these directories
###############################################################################

build/
coverage/
lib-cov/
logs/
node_modules/
pids/
